# general modules
django==4.2
python-decouple
pillow
djangorestframework


# third party modules
markdown       
django-filter  
django-coreapi
drf-yasg[validation]
django-cors-headers
djangorestframework-simplejwt
djoser
# development modules

# Email third party modules
django-mail-templated

# refactoring and test
black
flake8
pytest
pytest-django
faker

# background proccess and cache
celery
redis